.footer {
    height: 20rem;
    background-color: #057cb369;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;

    i {
        background-color: #057cb300;
    }

    a {
        color: #06ffead0;
    }

}