.footer {
    height: 20rem;
    background-color: #057cb369;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;

    i {
        background-color: #057cb300;
    }

    a {
        color: #06ffead0;
        transition: all 200ms ease-in-out;
        transform: scale(1.4);
    }

    a:hover {
        transform: scale(1.6);
    }

}