.main {
    margin-top: 13rem;
    margin-bottom: -12.8rem;
    text-align: center;

    .avatar {
        width: 17rem;
    }

    .mainHello {
        font-size: 3.5rem;
        color: white;
        margin-top: 1.5rem;

        .nameMain {
            color: aqua;

        }
    }

    .mainFullStack {
        font-size: 3.5rem;
        color: white;
    }

    .imgStack {
        background-color: #057cb300;
        width: 70%
    }

}