.main {

    margin-top: 13rem;
    text-align: center;

    .mainHello {
        font-size: 3.5rem;
        color: white;
        margin-top: 1.5rem;
        
        .nameMain {
            color: aqua;
        }
    }
    
    .mainFullStack {
        font-size: 3.5rem;
        color: white;
    }
}