nav {
    .container-fluid {
        .links {
            .navbar-nav {
                .nav-link {
                    font-size: 1.2rem;
                    margin: 0 0.5rem;
                    color: white;
                }

                .nav-link:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}