.proyectSection {

    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: center;

    figure {
        position: relative;

        img {
            width: 100%;
            border-radius: 20px 20px 20px 20px / 15px 15px 15px 15px;
        }

        .proyectHov {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgb(0, 0, 0);
            border-radius: 20px 20px 20px 20px / 15px 15px 15px 15px;
            transition: all 300ms ease-in-out;
            opacity: 0;

        }

        .proyectHov p {
            text-align: center;
            color: white;
            font-size: 2rem;
            background-color: rgb(0, 0, 0);
            transition: all 400ms ease-in-out;
        }


        .proyectHov .proyButtons {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            gap: 2rem;
        }

        .proyectHov .proyButtons button {
            border-radius: 15px 15px 15px 15px;
            padding: 0.5rem;
            background-color: #118b94;
            transition: all 400ms ease-in-out;
        }

        .proyectHov .proyButtons button:hover {
            background-color: #00cedd;
            color: white;
        }
       

        .proyectHov:hover {
            opacity: 1;
        }

        .proyectHov:hover p {
            margin-top: 3.2rem;
        }

    }

}