.skillTitle {
    text-align: center;
    color: white;
    margin-top: 5rem;
    text-shadow: 1px 9px 10px rgba(0,0,0,0.6);
}


.skillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 6rem;



    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        border-radius: 1rem;
        border: rgba(255, 255, 255, 0.226) solid 2px;
        background-color: rgba(255, 255, 255, 0.075);
        transition: all 200ms;
        box-shadow: 0px 1px 13px 6px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 1px 13px 6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 13px 6px rgba(0, 0, 0, 0.75);


        .skillImg {
            background-color: rgba(255, 255, 255, 0);
            width: 15%;
        }

        .skillName {
            color: white;
            background-color: rgba(255, 255, 255, 0);
        }

    }

    .cards:hover {
        transform: translateY(-10px);
    }

}