@media only screen and (max-width: 576px) {

    .contactContainer {

        .divContact {
            width: 80%;
            margin-left: 3.8rem;
        }

        .formContainer {


            .input {

                width: 80%;
            }

            textarea {
                width: 80%;

            }
        }
    }

}


@media only screen and (max-width: 390px) {
    .contactContainer {

        .divContact {

            width: 80%;
            margin-left: 2.5rem;
        }

        .formContainer {


            .input {
                margin-left: 0.8rem;
                width: 80%;
            }

            textarea {
                width: 80%;
                margin-left: 0.8rem;
            }

            button {
                margin-left: 0.8rem;
            }
        }
    }
}