@media only screen and (max-width: 576px) {

    .proyectSection {

        display: flex;
        flex-direction: column;
        margin-left: 10rem;
        gap: 3rem;

        figure {
            width: 70%;

            img {
                width: 70%;
            }

            .proyectHov {
                width: 70%;
            }

            .proyectHov p {
                font-size: 1.2rem;
            }

        }

    }
}

@media only screen and (max-width: 390px) {

    .titleProy {
        margin-left: 1rem;
    }

    .proyectSection {

        margin-left: 12.5rem;

        figure {
            width: 65%;

            img {
                width: 65%;
            }

            .proyectHov {
                width: 65%;
            }

        }
    }

}